.sidebar
{
  margin: 0;
  padding: 0;
  width: 430px;
  background-color: #1D2656;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align:center;
}
.sidebar a
{
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}
.active {
  background-color: #4056BA;
  color: white;
}
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.alignMUI
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
div.content {
    margin-left: 430px;
    padding: 1px 64px;
    height: 100vh;
}
@media screen and (max-width: 900px) {
.sidebar {
    width: 100%;
    height: auto;
    position: relative;
}
.sidebar a {float: left;}
.sidebar img {display: none;}
div.content {margin-left: 0;}
}
@media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .sidebar img {
        /* Hide Image when size is small */
        display: none;
    }
}

.homeIcon
{
  position: absolute;
   top: 15px;
   left: 15px;
}
.homeIcon :hover
{
  cursor: pointer;
  box-shadow: 2px 2px 5px white;
}
